@use 'src/scss/common/colors' as *;
@use 'src/scss/common/animations' as *;

.landing-description {
    height: 50vh;
    text-align: center;
    position: relative;

    .heading {
        margin: 0;
        border-radius: 50%;
        display: inline;
        padding: 2.5vh 18vw 0 18vw;
        background-color: white;
        color: $landing-green
    }

    .article-container {
        display: flex;
        justify-content: space-around;
        @include fadeInUpAnimation(10ms);
    }

    .article {
        margin-top: 35px;
        width: 40vw;
    }

    .first-animated-text {
        @include animatedTextWriter(left, 1s);
    }

    .second-animated-text {
        @include animatedTextWriter(right, 2s);
    }

    .third-animated-text {
        @include animatedTextWriter(left, 3s);
    }

    .no-secrets {
        font-weight: 600;
        color: $landing-green;
        @include blinkingTextAnimation(1.1s);
    }
}