@use 'src/scss/common/colors' as *;
@use 'src/scss/common/media' as *;

$transperent-accent-color: rgba(214, 172, 119, 0.85);

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 13vw;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: $transperent-accent-color;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: visibility .01s, opacity 1s linear;

    @include maxWidthMediaQuery(1150px) {
        width: 16vw;
    }

    @include maxWidthMediaQuery(1000px) {
        width: 100%;
        background: rgba(214, 172, 119, 0.95);
    }

    label {
        position: relative;
        padding: 3px;

        &:hover {
            background-color: #c9995c;
            color: white;
            opacity: 0.8;
        }

        span {
            height: 12px;
            width: 12px;
            margin-right: 5px;
            border: 1px solid #010101;
            display: inline-block;
            position: relative;
            border-radius: 2px;
        }

        input {
            display: none;
        }
    }

    [type=checkbox]:checked+span:before {
        content: '\e92f';
        font-family: 'Material Icons';
        color: #2a5e03;
        position: absolute;
        top: -10px;
        left: -1px;
        font-size: 18px;
        -webkit-text-stroke: 0.8px;
    }
}