@media all and (max-width: 1445px) {
    #nav-container {
        width: 100%;
    }

    .recipe-card {
        max-width: 233px;
        margin: 19px 20px;
    }

    body {
        width: 80%;
    }

    #modal {
        width: 35vw;
        height: 32vh;
    }
}

@media all and (max-width: 1250px) {
    #nav-container {
        width: 100%;
    }

    .recipe-card {
        max-width: 233px;
        margin: 19px 15px;
    }

    body {
        width: 80%;
    }

    #myInput {
        padding: 12px 20px 12px 31px;
    }

    .dropdown-toggle {
        padding: 9px 8px;
    }

    .formData form legend {
        width: 62%;
    }

    #checkboxes label {
        font-size: 13px;
    }
}