@media all and (min-width: 1500px) {
    #myInput {
        font-size: 16px;
    }

    #find-img {
        width: 2.2%;
    }

    .selectBox select {
        font-size: 16px;
    }
}

@media all and (min-width: 1670px) {
    .user-section #cards-section {
        width: 40vw;
    }

    .user-section-profile {
        width: 28vw;
        align-content: center;
        justify-content: center;
    }
}

@media all and (min-width: 1725px) {
    #nav-container {
        width: 90%;
    }

    #nav-container div {
        display: flex;
    }

    body {
        width: 80%;
    }

    .selectBox select {
        font-size: 17px;
    }

    .dropdown-toggle:hover {
        box-shadow: inset 0px -4px 7px 0px #c9995c;
    }

    .fa-solid.fa-circle-chevron-down {
        font-size: 17px;
    }

    nav a {
        font-size: 18px;
    }

    #checkboxes label {
        font-size: 17px;
    }

    .recipe-card {
        max-width: 280px;
        max-height: 250px;
        margin: 20px 60px;
    }

    .recipe-card a {
        width: 280px;
        height: 250px;
    }

    .recipe-card-list img {
        width: 100%;
        height: 130px;
    }

    .img {
        position: relative;
        overflow: hidden;
        margin: 0;
        max-width: 160px;
        max-height: 130px;
    }

    footer article ul {
        font-size: 17px;
    }

    footer article footer {
        font-size: 16px;
    }

    .formData form fieldset {
        min-height: 35vh;
    }

    .formData .button {
        margin-top: 20px;
    }

    .recipe-description li {
        font-size: 20px;
    }

    .user-section #cards-section {
        width: 50vw;
    }

    .user-section-profile {
        align-items: center;
        width: 30vw;
        align-content: center;
        justify-content: center;
    }

    .user-section .recipe-card {
        max-width: 400px;
        max-height: 350px;
    }

    .user-section .recipe-card a {
        width: 400px;
        height: 280px;
    }

    .user-section .img {
        max-width: 210px;
        max-height: 140px;
        width: 210px;
    }

    .user-section .recipe-card-list img {
        height: 140px;
    }
}

@media all and (min-width: 1900px) {
    #nav-container {
        width: 80%;
    }

    #modal {
        height: 26vh;
    }
}

@media all and (min-width: 2000px) {
    #nav-container {
        width: 80%;
    }

    #nav-container div {
        display: flex;
    }

    body {
        font-size: 30px;
        width: 80%;
    }

    #myInput {
        border: 1px solid #ddd;
        padding: 12px 40px 12px 51px;
        width: 120%;
        font-size: 32px;
    }

    #find-img {
        width: 2%;
    }

    .selectBox select {
        font-size: 30px;
    }

    .page-btn {
        font-size: 30px;
        padding: 0rem 1.25rem 0rem 1.25rem;
    }

    .dropdown-toggle {
        padding: 12px 40px 12px 40px;
    }

    .recipe-card a {
        width: 450px;
        height: 390px;
    }

    .recipe-card-list img {
        height: 220px;
    }

    .recipe-card {
        max-width: 450px;
        max-height: 390px;
        margin: 40px;
    }

    .recipe-img {
        width: 670px;
    }

    .button {
        font-size: 30px;
    }

    .details-comments li a {
        font-size: 50px;
    }

    h1 {
        font-size: 64px;
    }

    .create-comment label {
        font-size: 38px;
    }

    .comment-btn {
        font-size: 30px;
    }

    .no-comments {
        font-size: 30px;
    }

    .fa-solid,
    .fas {
        font-size: 38px;
    }

    .img {
        max-width: 340px;
        max-height: 270px;
    }

    h3 {
        font-size: 30px;
    }

    .formData .button {
        font-size: 30px;
    }

    #modal {
        font-size: 32px;
    }

    #modal button {
        font-size: 30px;
    }

    label span {
        height: 26px;
        width: 26px;
    }

    .loader-spinner img {
        width: 150px;
    }

    [type=checkbox]:checked+span:before {
        font-size: 34px;
        top: -15px;
    }

    .fa-solid.fa-circle-chevron-down {
        font-size: 28px;
    }

    .dropdown-toggle:hover {
        box-shadow: inset 0px -6px 9px 0px #c9995c;
    }

    #checkboxes label {
        font-size: 26px;
    }

    .no-recipes {
        font-size: 40px;
    }

    .return-anker::before {
        font-size: 42px;
    }

    nav a {
        font-size: 30px;
    }

    body footer a {
        font-size: 26px;
    }

    footer article footer p {
        font-size: 22px;
    }

    .user-profile-article {
        width: 600px;
        height: 800px;
    }

    .user-profile-header-picture {
        max-height: 420px;
    }

    .user-profile-avatar-container {
        width: 290px;
        margin-top: -165px;
    }

    .edit-profile-form input {
        height: 60px;
        font-size: 110%;
    }

    .profile-edit-section .user-profile-header {
        height: 400px;
    }

    .edit-profile-form .user-profile-article-info {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}