@media all and (min-width: 1660px) {
    #nav-container {
        width: 95%;
    }

    #nav-container div {
        display: flex;
    }

    body {
        font-size: 32px;
        width: 80%;
    }

    #myInput {
        border: 1px solid #ddd;
        padding: 12px 40px 12px 51px;
        width: 120%;
        font-size: 32px;
    }

    #find-img {
        width: 2%;
    }

    .selectBox select {
        font-size: 32px;
    }

    .page-btn {
        font-size: 30px;
    }

    .dropdown-toggle {
        padding: 12px 40px 12px 40px;
    }

    .recipe-card a {
        width: 530px;
        height: 390px;
    }

    .recipe-card-list img {
        height: 250px;
    }

    .recipe-card {
        max-width: 530px;
        max-height: 390px;
    }

    .recipe-img {
        width: 670px;
    }

    .button {
        font-size: 32px;
    }

    .details-comments li a {
        font-size: 50px;
    }

    h1 {
        font-size: 64px;
    }

    .create-comment label {
        font-size: 38px;
    }

    .comment-btn {
        font-size: 32px;
    }

    .no-comments {
        font-size: 32px;
    }

    .fa-solid,
    .fas {
        font-size: 38px;
    }

    .img {
        max-width: 340px;
        max-height: 270px;
    }

    h3 {
        font-size: 32px;
    }

    .formData .button {
        font-size: 32px;
    }

    #modal {
        width: 20vw;
        font-size: 35px;
    }

    #modal button {
        font-size: 30px;
    }

    label span {
        height: 30px;
        width: 30px;
    }

    .loader-spinner img {
        width: 150px;
    }

    [type=checkbox]:checked+span:before {
        font-size: 36px;
    }

    .fa-solid.fa-circle-chevron-down {
        font-size: 32px;
    }

    .no-recipes {
        font-size: 40px;
    }

    .return-anker::before {
        font-size: 42px;
    }
}