@media all and (max-width: 426px) {
    body {
        width: 95%;
    }

    #nav-container {
        padding: 0px 12px 8px 12px;
    }

    nav {
        margin: 12px 0px;
    }

    nav a {
        padding: 4px 8px;
        margin: 0px 2px;
    }

    #find-img {
        width: 7%;
    }

    #myInput {
        padding: 10px 0px 10px 28px;
        font-size: 11px;
    }

    .selectBox select {
        font-size: 11px;
    }

    .page-btn {
        margin-right: 12px;
        padding: 0rem 1rem 0rem 1rem;
        margin-top: 10px;
        font-size: 11px;
    }

    .recipe-card-list {
        margin: 0;
    }

    #recipe-details h1 {
        font-size: 24px;
    }

    .recipe-details-div {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .recipe-description {
        max-width: 80vw;
        margin-left: 0;
    }

    .recipe-img {
        max-width: 60vw;
    }

    #comments-container button {
        margin: 20px 0;
        font-size: 11px;
    }

    .details-comments li a {
        font-size: 14px;
    }

    .details-comments li {
        min-width: 310px;
    }

    .create-comment {
        min-width: 310px;
    }

    .create-comment label {
        font-size: 13px;
    }

    .comment-btn {
        font-size: 12px;
    }

    .create-comment .form textarea {
        width: 100%;
        height: 80px;
    }

    section.formData {
        margin: 40px 0px;
        align-self: center;
    }

    .formData form fieldset {
        padding: 1em 2em 2em 2em;
        position: relative;
        width: 70vw;
    }

    .formData .button {
        font-size: 12px;
    }

    .fa-bowl-rice,
    .fa-book-open,
    .fa-shoe-prints,
    .fa-utensils {
        font-size: 12px;
    }

    .fa-user,
    .fa-key,
    .fa-repeat,
    .fa-bowl-rice,
    .fa-book-open,
    .fa-shoe-prints,
    .fa-utensils {
        margin-left: 5px;
    }

    .formData form legend {
        width: 68%;
    }

    #comment-container .button {
        font-size: 12px;
    }

    label span {
        height: 11px;
        width: 11px;
        margin-right: 3px;
    }

    [type=checkbox]:checked+span:before {
        font-size: 14px;
        top: -7px;
    }

    #filtration-section > form:nth-child(2) {
        width: 30vw;
    }

    #checkboxes {
        width: 30vw;
    }

    .no-recipes {
        font-size: 12px;
    }

    .return-anker::before {
        font-size: 18px;
    }

    .search-img {
        max-width: 110%;
    }

    #modal {
        width: 90vw;
        height: 30vh;
    }

    .notification {
        padding: 10px 5px;
    }
}