.admin-panel-section {
    background: #EFEEFE;
    min-height: 100vh;
    display: flex;
    padding: 0px 6vw;
    justify-content: space-evenly;
}

.admin-panel-nav {
    margin: 0;
    width: 7vw;
    align-self: center;
    height: 91vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px;
    border-radius: 20px;
    background: #F0F2FF;
    box-shadow: 1px 15px 20px 0px #808ada91;
    ;
    position: relative;
}

.admin-panel-section-wrapper {
    height: 91vh;
    width: 75vw;
    display: flex;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-radius: 20px;
    background: #F0F2FF;
    box-shadow: 0px 15px 20px 0px #808ada75;
}

.admin-panel-content-header {
    display: flex;
    background-color: inherit;
    border-radius: 20px;
    border-bottom: 3.5px solid white;
    justify-content: space-between;
    padding: 18px;
}

.admin-panel-content-footer {
    background: inherit;
    display: block;
}

.admin-panel-content {
    width: 98%;
    height: 97%;
    border: 2px;
    border-radius: 20px;
    background: #F0F2FF;
    box-shadow: 0px 15px 20px 0px #808adabd;
}

.admin-panel-nav-logo {
    position: absolute;
    width: 40%;
    top: 5%;
    cursor: pointer;
}

.admin-panel-nav-ul {
    width: 100%;
    padding: 0;
}

.admin-panel-nav-li {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.admin-panel-nav-li i {
    font-size: 170%;
    margin: 0;
    color: #483d8bba;
    padding: 10px 3px;
    cursor: pointer;
    background-image: linear-gradient(#6f42c1, #483d8bba);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-out;
}

.fa-gear {
    font-size: 170%;
    color: #776fab;
    position: absolute;
    bottom: 8%;
    padding: 10px 3px;
    cursor: pointer;
    background-image: linear-gradient(#6f42c1, #483d8bba);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-out;
}

.admin-panel-nav-li i:not(.admin-icon-selected):hover,
.fa-gear:not(.admin-icon-selected):hover {
    background-size: 100% 0.15em;
}

.admin-icon-selected {
    border-bottom: 0.15em solid;
}

.admin-panel-content-header-greeting-article h2,
.admin-panel-content-header-greeting-article p {
    margin: 5px 0;
}

.admin-panel-content-header-greeting-article p {
    font-style: italic;
}

.admin-avatar-container img {
    width: 100%;
    border-radius: 50%;
}

.admin-avatar-container {
    width: 48px;
    display: flex;
    box-shadow: 0px 9px 20px 0px #808ada45;
    border-radius: 25px;
}

.admin-panel-content-header-nav-article i {
    font-size: 21px;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 7px;
    background: white;
    box-shadow: 0px 9px 20px 0px #808ada45;
    cursor: pointer;
}

.admin-panel-content-header-nav-article {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.admin-panel-content-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid white;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
    width: 15vw;
    height: 17vh;
    box-shadow: 2px 20px 20px 0px #808ada61;
    position: relative;
    z-index: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.stats-card i {
    font-size: 95%;
    border: 2px solid white;
    border-radius: 50%;
    padding: 7px;
    color: #78C0F0;
    background: #78c0f040;
    position: absolute;
    top: 0px;
    left: 0px;
}

.stats-card .fa-users {
    color: #615FFE;
    background: #615ffe30;
}

.stats-card .fa-comments {
    color: #735ADC;
    background: #735adc30;
}

.stats-card .fa-eye {
    color: #2AC991;
    background: #2ac99130;
}

.stats-card h5,
h4 {
    margin: 5px 0;
}

.stats-card::after {
    border: 1px solid white;
    content: '';
    width: 90%;
    position: absolute;
    left: 11px;
    height: 15px;
    border-radius: 20px;
    bottom: -6px;
}

.most-active-user .user-profile-article {
    width: 200px;
    height: 43vh;
    margin: 0;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0px 8px 20px 0px #a5ace6db;
}

.most-active-user .user-profile-article-info {
    height: 285px;
}

.most-active-user .user-profile-avatar-container {
    width: 95px;
    margin-top: -42px;
    box-shadow: none;
}

.most-active-user .user-profile-article-info {
    font-size: 80%;
}

.most-active-user .user-profile-article-info i {
    color: navy;
    margin-bottom: 2px;
}

.most-active-user .user-profile-article-info h3 {
    font-size: 120%;
}

.most-active-user .user-profile-header {
    background: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.most-active-user .user-profile-header h5 {
    margin: 0px;
    margin-top: 25px;
}

.stats-graph {
    margin-top: 30px;
    width: 52vw;
    border-radius: 20px;
    background: #D7D9EF;
    box-shadow: 2px 20px 20px 0px #808ada61;
    max-height: 43vh;
}

.chart {
    position: relative;
    width: 94%;
    max-height: 43vh;
}

.visitations-chart {
    margin-left: 45px;
    max-height: 43vh;
}

.admin-panel-search-form {
    margin-right: 20px;
}

.admin-panel-search-input {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 9px 20px 0px #808ada45;
    padding: 10px 10px 10px 20px;
    transition: width 2s;
    display: none;
}

.slideFadeInUp {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideFadeInUp;
    animation-name: slideFadeInUp;
}

@keyframes slideFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.wrapper-table-wrapper {
    margin-top: 20px;
    width: 95%;
    min-height: 40vh;
    box-shadow: 0px 15px 20px 0px #808ada52;
    border-radius: 20px;
    border: 2px solid white;
    max-height: 65vh;
}

.table-wrapper {
    width: 100%;
    height: 97%;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0px 15px 20px 0px #808ada75;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.table-wrapper::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    text-align: center;
    min-height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
}

table,
td {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    position: relative;
}

thead {
    background: white;
}

thead tr th {
    padding: 10px;
}

tbody tr {
    height: 50px;
}

tbody i {
    font-size: 125%;
}

tbody tr:nth-child(2n+1) {
    background-color: white;
}

tbody tr:nth-child(1) {
    border-radius: 20px;
}

tbody tr:hover {
    background-color: #808ada4e;
    color: rgb(255, 255, 255);
    z-index: 0;
}

.user-status-online {
    padding: 5px 10px;
    background-color: #2ac99117;
    border-radius: 20px;
    color: #2AC991;
    z-index: 2;
    border: 1.5px solid #2ac991db;
}

.user-status-offline {
    padding: 5px 8px;
    background-color: #ff00001c;
    border-radius: 20px;
    color: red;
    z-index: 2;
    border: 1.5px solid #ff000070;
}

.user-action-edit {
    padding: 5px 10px;
    background-color: #ffa50047;
    border-radius: 20px;
    color: darkgoldenrod;
    z-index: 2;
    margin-right: 10px;
    border: 1.5px solid #b8860b8c;
}

.user-action-delete {
    padding: 5px 10px;
    background-color: #ff00001c;
    border-radius: 20px;
    color: red;
    z-index: 2;
    border: 1.5px solid #ff000070;
}

.user-action-block {
    padding: 5px 10px;
    background-color: #a9a9a93d;
    border-radius: 20px;
    color: darkgray;
    z-index: 2;
    margin-right: 10px;
    border: 1.5px solid #a9a9a9d1;
}

.user-current-status {
    padding: 5px 10px;
    background-color: #2ac9916e;
    border-radius: 20px;
    color: white;
    z-index: 2;
    border: 1.5px solid #2ac991db;
    margin: 0 2px;
}

.user-possible-status {
    padding: 5px 10px;
    background-color: #3f51b52e;
    border-radius: 20px;
    color: #3f51b5;
    z-index: 2;
    border: 1.5px solid #3f51b5bd;
    margin: 0 2px;
}

.user-table-profile-avatar-container {
    border-radius: 50%;
    width: 30px;
    position: absolute;
    left: 0px;
    bottom: 1px;
}

tbody tr td:nth-child(2) {
    width: 13vw;
}

#admin-loader img {
    width: 260px;
}

@media all and (min-width: 1535px) {
    .stats-card {
        width: 16vw;
        height: 14vh;
    }

    .most-active-user .user-profile-article {
        width: 16vw;
        height: 51vh;
    }

    .stats-graph {
        width: 52vw;
        max-height: 51vh;
    }

    .chart {
        max-height: 51vh;
    }

    .visitations-chart {
        max-height: 51vh;
        height: 51vh !important;
    }
}

@media all and (min-width: 1680px) {
    .most-active-user .user-profile-avatar-container {
        width: 130px;
        margin-top: -60px;
    }
}

@media all and (min-width: 1900px) {
    .admin-panel-section {
        font-size: 120%;
    }
}

@media all and (min-width: 2200px) {
    .admin-panel-section {
        font-size: 105%;
    }

    .admin-panel-content-header-nav-article i {
        font-size: 115%;
    }

    .admin-avatar-container {
        width: 70px;
    }

    .admin-panel-search-input {
        width: 300px;
        height: 50px;
        font-size: 100%;
    }

    .most-active-user .user-profile-avatar-container {
        width: 180px;
        margin-top: -82px;
        box-shadow: none;
    }

    table td i {
        font-size: 10%;
    }
}

@media all and (max-width: 1390px) {
    .admin-panel-section {
        font-size: 90%;
    }

    .most-active-user .user-profile-avatar-container {
        width: 65px;
        margin-top: -26px;
        box-shadow: none;
    }
}

@media all and (max-width: 1050px) {
    .admin-panel-section {
        font-size: 70%;
    }

    .stats-card::after {
        width: 86%;
    }

    .stats-card {
        width: 16vw;
        height: 15vh;
    }

    .most-active-user .user-profile-article {
        width: 27vh;
        height: 45vh;
    }

    .most-active-user .user-profile-avatar-container {
        width: 70px;
        margin-top: -32px;
    }

    .stats-graph {
        max-height: 45vh;
    }

    .chart {
        width: 100%;
        max-height: 45vh;
    }

    .visitations-chart {
        margin-left: 17px;
        max-height: 45vh;
    }
}

@media all and (max-width: 920px) {
    .admin-panel-section {
        padding: 0;
        font-size: 90%;
    }

    .admin-panel-section-wrapper {
        width: 88vw;
    }

    .admin-panel-content-header-nav-article i {
        font-size: 150%;
    }

    .admin-avatar-container {
        width: 40px;
    }

    .stats-card {
        width: 19vw;
        height: 14vh;
    }

    .stats-card i {
        padding: 5px;
    }

    .stats-card::after {
        width: 84%;
    }

    .stats-graph {
        width: 62vw;
        max-height: 47vh;
    }

    .most-active-user .user-profile-article {
        width: 25vh;
        height: 47vh;
    }

    .chart {
        width: 100%;
        max-height: 47vh;
    }

    .visitations-chart {
        margin-left: 8px;
        max-height: 47vh;
    }

    tbody tr td:nth-child(2) {
        min-width: 20vw;
    }

    .user-table-profile-avatar-container {
        width: 25px;
        top: 30%;
    }

    .user-table-profile-avatar-container {
        width: 27px;
        top: 24%;
    }
}

@media all and (max-width: 450px) {
    .admin-panel-section {
        flex-direction: column;
    }

    .admin-panel-nav {
        margin: 0;
        width: 90vw;
        align-self: center;
        height: 6.5vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        border: 2px;
        border-radius: 20px;
        background: #F0F2FF;
        box-shadow: 1px 15px 20px 0px #808ada91;
        position: fixed;
        order: 1;
        top: 91%;
        z-index: 3;
    }

    .admin-panel-nav-logo {
        width: 8%;
        top: 10%;
        left: 5%;
    }

    .admin-panel-nav-ul {
        width: 72%;
        display: flex;
    }

    .admin-panel-nav-li {
        margin-bottom: 0;
    }

    .fa-gear {
        right: 5%;
        top: 1%;
    }

    .admin-panel-section-wrapper {
        width: 96vw;
        height: auto;
    }

    .admin-panel-content {
        height: 98%;
        margin-bottom: 9px;
        margin-top: 6px;
    }

    .admin-panel-content-header-nav-article i {
        margin-right: 11px;
    }

    .admin-panel-content-header-nav-article {
        position: relative;
    }

    .admin-panel-search-form {
        margin-right: 0px;
        position: absolute;
        top: 100%;
        right: 50%;
    }

    .stats-card {
        width: 41vw;
        height: 10vh;
    }

    .stats-card i {
        padding: 3.5px;
    }

    .most-active-user {
        order: 2;
        margin-bottom: 50px;
    }

    .most-active-user .user-profile-article {
        width: 30vh;
        height: 45vh;
    }

    .stats-graph {
        width: 90vw;
        max-height: auto;
        order: 1;
    }

    .chart {
        width: 100%;
        max-height: auto;
    }

    .visitations-chart {
        margin-left: 0;
        max-height: auto;
    }

    .wrapper-table-wrapper {
        width: 97%;
        min-height: 70vh;
        max-height: 65vh;
        overflow-x: scroll;
    }

    .user-table-profile-avatar-container {
        width: 25px;
        top: 30%;
    }

    .user-action-edit,
    .user-action-block,
    .user-action-delete,
    .user-status-online,
    .user-status-offline,
    .user-possible-status,
    .user-current-status {
        padding: 2px 4px;
        margin-right: 0;
    }

    tbody tr td:nth-child(2) {
        min-width: 29vw;
    }

    tbody tr td:last-child {
        min-width: 56vw;
    }
}

@media all and (max-width: 385px) {
    .admin-panel-search-form {
        right: 38%;
    }
}