#filtration-section {
    display: flex;
    justify-content: space-between;
}

#find-img {
    width: 3%;
    position: absolute;
    margin-top: 2px;
    cursor: pointer;
}

#myInput {
    border: 1px solid #ddd;
    padding: 12px 20px 12px 40px;
    width: 120%;
}

#myInput:hover {
    border: none;
    box-shadow: inset 0px -3px 6px 0px #c9995c;
}

#filtration-section > form:nth-child(2) {
    width: 13vw;
}

.multiselect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}

.dropdown-toggle:hover {
    cursor: pointer;
    border: none;
    box-shadow: inset 0px -3px 6px 0px #c9995c;
}

.dropdown-toggle {
    padding: 9px 25px;
    border: 1px solid #ddd;
    width: 100%;
}

.selectBox select {
    font-size: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    position: absolute;
    top: 99%;
    width: 13vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #d6ac7782;
    color: black;
}

#checkboxes label {
    position: relative;
    padding: 3px;
}

#checkboxes label:hover {
    background-color: #c9995c;
    color: white;
    opacity: 0.8;
}

label span {
    height: 12px;
    width: 12px;
    margin-right: 7px;
    border: 1px solid #010101;
    display: inline-block;
    position: relative;
    margin-top: 2px;
    border-radius: 3px;
}

label input {
    display: none;
}

[type=checkbox]:checked+span:before {
    content: '\e92f';
    font-family: 'Material Icons';
    color: #2a5e03;
    position: absolute;
    top: -11px;
    left: -2px;
    font-size: 18px;
    -webkit-text-stroke: 0.8px;
}

.fa-solid.fa-circle-chevron-down {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    color: #c9995c;
}

.filtration-heading {
    text-align: center;
}

.return-anker::before {
    content: '\e419';
    font-family: 'Material Icons';
    font-size: 24px;
    color: #eda268;
}

.search-img {
    background-image: '../static/images/istockphoto-1209388288-612x612-removebg-preview.png';
    opacity: 0.3;
    max-width: 50%;
    position: absolute;
    z-index: -1;
}