#notification {
    position: fixed;
    right: 20%;
    top: 350px;
}

.notification {
    list-style: none;
    background-color: #c28a44;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 20%), 12px 12px 20px 0 rgb(0 0 0 / 19%);
    padding: 16px 32px;
    border-radius: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    color: white;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#modal {
    background-color: #c9995c;
    width: 27vw;
    height: 29vh;
    color: white;
    margin: auto;
    margin-top: 25vh;
    border-radius: 16px;
    padding: 16px 32px;
    text-align: center;
    box-shadow: 0 0 8px 8px rgb(0 0 0 / 20%), 12px 12px 20px 0 rgb(0 0 0 / 19%);
}

#modal p {
    padding: 20px;
    margin-bottom: 15px;
}

#modal button {
    border: none;
    margin: 10px;
    background-color: dimgrey;
    padding: 8px 16px;
    color: black;
    color: white;
}

#modal button:hover {
    background-color: #6c8b47;
    color: white;
    cursor: pointer;
}

#modal .modal-cancel:hover {
    background-color: #dc3545;
}

.loader-spinner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

.div-404 {
    text-align: center;
}

.picture-404 {
    width: 100%;
}

.message-404 {
    text-align: center;
}

.earth-404 {
    width: 100%;
}

.earth-container-404 {
    width: 200px;
    position: absolute;
    right: 17%;
    cursor: pointer;
}

.back-to-earth-404 {
    position: absolute;
    left: 48vw;
    color: whitesmoke;
    box-shadow: 2px -1px 19px 9px #00000096;
    background: transparent;
}

.fa-circle-exclamation {
    color: orange;
    margin-left: 3px;
    position: absolute;
    left: 85%;
    bottom: 58%;
    font-size: 90%;
    display: none;
}

.counter {
    border: 1px solid red;
    border-radius: 50%;
    padding: 0px 5px;
    background: red;
    font-size: 80%;
    position: absolute;
    left: -2%;
    bottom: 54%;
    display: none;
}

.notification-article {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #c28a44db;
    padding: 15px;
    width: 33vw;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 18px 0px #00000061;
    position: relative;
    color: white;
}

.notification-article-header {
    display: block;
    background: none;
    width: 85px;
    border-radius: 50%;
    box-shadow: 1px -6px 20px 0px #00000021;
}

.notification-article-header-image {
    width: 100%;
    border-radius: 50%;
}

.notification-article main {
    margin-left: 20px;
}

.notification-article main p {
    margin: 5px 0;
}

.notification-article i {
    font-size: 140%;
    position: absolute;
    left: 92%;
}

@media all and (min-width: 1700px) {
    .earth-container-404 {
        width: 280px;
        right: 13%;
    }
}

@media all and (min-width: 2200px) {
    .earth-container-404 {
        width: 370px;
        right: 13%;
    }

    .counter {
        padding: 2px 10px;
    }

    .fa-circle-exclamation {
        left: 87%;
        bottom: 60%;
        font-size: 90% !important;
    }
}

@media all and (max-width: 1300px) {
    .earth-container-404 {
        width: 190px;
        right: 11%;
    }
}

@media all and (max-width: 1024px) {
    .earth-container-404 {
        width: 150px;
        right: 11%;
    }
}

@media all and (max-width: 875px) {
    .earth-container-404 {
        width: 110px;
        right: 9%;
    }

    .back-to-earth-404 {
        left: 40vw;
    }
}

@media all and (max-width: 650px) {
    .earth-container-404 {
        width: 100px;
        right: 8%;
    }

    .back-to-earth-404 {
        left: 30vw;
    }
}

@media all and (max-width: 500px) {
    .earth-container-404 {
        width: 70px;
        right: 7%;
    }

    .back-to-earth-404 {
        top: 10vw;
        left: 10vw;
    }
}

@media all and (max-width: 450px) {
    .counter {
        padding: 1px 5px;
    }

    .notification-article {
        width: 93vw;
    }
}

@media all and (max-width: 385px) {
    .message-404 {
        font-size: 20px;
    }

    .earth-container-404 {
        right: 5%;
    }
}