@media all and (max-width: 426px) {
    body {
        width: 95%;
    }

    #nav-container {
        padding: 0px 12px 8px 12px;
    }

    nav {
        margin: 12px 0px;
    }

    nav a {
        padding: 4px 8px;
        margin: 0px 2px;
    }

    #find-img {
        width: 7%;
    }

    #myInput {
        padding: 10px 0px 10px 28px;
        font-size: 11px;
    }

    .dropdown-toggle {
        background-position: 6px;
        background-size: 15px;
        padding: 8px 16px 8px 27px;
    }

    .selectBox select {
        background-size: 5px;
        font-size: 11px;
        font-weight: 500;
        background-position: 60px;
    }

    .page-btn {
        margin-right: 12px;
        padding: 0rem 1rem 0rem 1rem;
        margin-top: 10px;
        background-color: #d6ac77;
        font-size: 11px;
    }

    .other-books-list {
        margin: 0;
    }

    #meme-details h1 {
        font-size: 24px;
    }

    .meme-details {
        justify-content: center;
    }

    .meme-description {
        margin-left: 35px;
    }

    #comments-container button {
        margin-top: 30px;
        font-size: 11px;
        margin-right: 0px;
    }

    .details-comments li a {
        font-size: 14px;
    }

    .details-comments li {
        box-shadow: 8px 8px 8px 0 rgb(0 0 0 / 20%), 12px 12px 20px 0 rgb(0 0 0 / 19%);
        border-radius: 16px;
        background: #c28a44;
        color: white;
        padding: 1px 25px;
        margin-bottom: 20px;
        width: 190px;
    }

    .create-comment label {
        font-size: 13px;
    }

    .comment-btn {
        font-size: 12px;
    }

    .create-comment .form textarea {
        resize: none;
        width: 100%;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: larger;
        border-radius: 14px;
    }

    section.formData {
        margin: 40px 0px;
        align-self: center;
    }

    .formData form fieldset {
        padding: 1em 2em 2em 2em;
        position: relative;
        width: 70vw;
    }

    .formData .button {
        font-size: 12px;
    }

    .fa-bowl-rice, .fa-book-open, .fa-shoe-prints, .fa-utensils {
        font-size: 12px;
    }

    .fa-user, .fa-key, .fa-repeat, .fa-bowl-rice, .fa-book-open, .fa-shoe-prints, .fa-utensils {
        margin-left: 5px;
    }

    .formData form legend {
        width: 58%;
    }

    #comment-container .button {
        font-size: 12px;
    }
/* 
    #checkboxes {
        top: 58.5%;
        right: 2.6%;
        max-width: 25%;
    } */

    label span {
        height: 8px;
        width: 8px;
        margin-right: 3px;
    }

    [type=checkbox]:checked+span:before {
        font-size: 11px;
        top: -7px;
        left: -3px;
    }
}

@media all and (max-width: 376px) {
    body {
        width: 100%;
        font-size: 10px;
    }

    body footer a {
        color: black;
        font-size: 10px;
    }

    .meme-description {
        margin-left: 25px;
    }

    #meme-details h1 {
        font-size: 20px;
    }

    #comments-container button {
        margin-top: 20px;
        font-size: 9px;
        margin-right: 0px;
    }

    .meme-description ul {
        box-shadow: 2px 5px 13px 0px #000000, 8px -15px 31px -12px rgb(0 0 0 / 0%);
        padding: 5px;
        margin: 0px 0px 22px 0px;
    }

    .details-comments li {
        box-shadow: 8px 8px 8px 0 rgb(0 0 0 / 20%), 12px 12px 20px 0 rgb(0 0 0 / 19%);
        border-radius: 16px;
        background: #c28a44;
        color: white;
        padding: 1px 6px;
        margin-bottom: 16px;
        width: 145px;
    }

    .create-comment {
        flex-direction: column;
        margin: 0px 0px 10px 0px;
        text-align: center;
        border-radius: 15px;
        padding: 10px;
        background: #c28a44;
        box-shadow: 4px 3px 20px 0px #55595c;
    }

    .create-comment label {
        font-size: 11px;
    }

    .comment-btn {
        font-size: 10px;
        padding: 5px 10px;
    }

    .create-comment .form textarea {
        resize: none;
        width: 100%;
        height: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: larger;
        border-radius: 5px;
    }

    .no-comments {
        font-family: cursive;
        font-size: medium;
        font-size: 12px;
        text-align: center;
    }

    #find-img {
        width: 8%;
    }

    #myInput {
        padding: 10px 0px 10px 27px;
        font-size: 10px;
    }

    .dropdown-toggle {
        background-position: 5px;
        background-size: 13px;
        padding: 8px 4px 8px 23px;
    }

    .page-btn {
        margin-right: 3px;
        padding: 0rem 1rem 0rem 1rem;
        margin-top: 10px;
        background-color: #d6ac77;
        font-size: 10px;
    }

    #cards-section {
        margin: 0;
    }

    .otherBooks a {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 195px;
        height: 165px;
    }

    .detailsOtherBooks, .detailsMyBooks, .deleteBook, .otherBooks, .myBooks {
        max-width: 200px;
        max-height: 175px;
    }

    .other-books-list img {
        width: 100%;
        height: 100px;
    }

    h3 {
        margin-bottom: 8px;
        font-size: 12px;
    }

    #meme-details h1 {
        font-size: 20px;
        margin: 20px 5px;
    }

    .formData form legend {
        width: 67%;
    }

    .formData .button {
        font-size: 11px;
    }

    .notification {
        width: 102%;
    }

    /* #checkboxes {
        top: 48%;
        right: -0.2%;
        max-width: 28%;
        font-size: 9px;
    } */
}