@media all and (max-width: 1440px) {
    .profile-edit-section {
        height: 90vh;
    }
}

@media all and (max-width: 1300px) {
    #nav-container {
        width: 100%;
    }

    .recipe-card {
        max-width: 233px;
        margin: 19px 20px;
    }

    body {
        width: 80%;
    }

    #modal {
        width: 35vw;
        height: 32vh;
    }
}

@media all and (max-width: 1250px) {
    #nav-container {
        width: 100%;
    }

    .recipe-card {
        max-width: 233px;
        margin: 19px 15px;
    }

    body {
        width: 80%;
    }

    #myInput {
        padding: 12px 20px 12px 31px;
    }

    .dropdown-toggle {
        padding: 9px 8px;
    }

    .formData form legend {
        width: 62%;
    }

    #checkboxes label {
        font-size: 13px;
    }
}

@media all and (max-width: 1170px) {
    .user-section #cards-section {
        width: 40vw;
    }
    
    .user-section .recipe-card {
        max-width: 260px;
        max-height: 205px;
    }
    
    .user-section .img {
        max-width: 140px;
        max-height: 120px;
    }
    
    .user-section .recipe-card-list img {
        height: 105px;
    }
}

@media all and (max-width: 1065px) {
    nav a {
        margin-left: 0px;
    }

    #user a {
        margin-right: 0;
    }

    a {
        margin: 0 5px;
    }
}