@use "src/scss/common/nav" as *;
@use "src/scss/common/fonts" as *;
@use "src/scss/common/colors" as *;
@use "src/scss/common/animations" as *;

$nav-items-size: 1.15rem;
$transperent-accent-color: rgba(214, 172, 119, 0.7);

.navigation {
    @include siteNavigation();
}

.logo {
    display: flex;
    align-items: center;
    @include elegantScriptFont();
    font-size: 1.25rem;
    color: $dark-orange-accent-color;
    margin: 0;
    width: 100%;
    margin-left: 20px;

    .logo-container {
        width: 40px;
        height: 40px;
        margin: 0 10px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-right: 20px;
    height: 100%;

    li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient($dark-orange-accent-color, $transperent-accent-color);
        background-size: 0% 0.1em;
        background-position-y: 75%;
        background-repeat: no-repeat;
        transition: background-size 0.4s ease-out;
        margin-right: 30px;

        &:hover {
            background-size: 100% 0.2em;
        }
    }
}

.item {
    font-weight: 800;
    text-decoration: none;
    color: darkslategray;
    font-size: $nav-items-size;
    transition: all .5s;

    &:hover {
        color: $dark-orange-accent-color;
    }
}

.dropdown-item {
    height: 100%;
}

.dropdown-nav-item {
    padding: 0 10px;
    transition: all .65s;
    background-image: none !important;
    position: relative;

    &:hover {
        background-color: $transperent-accent-color;

        a {
            color: black;
        }

        .dropdown-icon {
            transform: rotate(180deg);
        }

        .dropdown-menu {
            visibility: visible;
            opacity: 1;
        }
    }

    .dropdown-icon {
        margin-left: 7px;
    }
}

.nav-item-search {
    background-image: none !important;

    .search {
        font-size: 1.4rem;
        color: $dark-orange-accent-color;

        &:hover {
            cursor: pointer;
        }
    }
}

.search-article {
    position: absolute;
    bottom: -53px;
    width: 100%;
    left: 0;
    font-size: 1.2rem;
    right: 0;
    @include smoothTransitionAnimation();

    .search-input {
        width: 100%;
        position: relative;
        padding: 15px 10vw;
        font-size: 1.2rem;
        background: $transperent-accent-color;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: black;
            opacity: 0.6;
        }
    }

    .search-input-icon, .cancel-input-icon {
        position: absolute;
        left: 7vw;
        z-index: 1;
        top: 2.5vh;
        &:hover {
            cursor: pointer;
        }
    }

    .cancel-input-icon {
        left: 90vw;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 13vw;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: $transperent-accent-color;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: visibility .01s, opacity 1s linear;

    label {
        position: relative;
        padding: 3px;

        &:hover {
            background-color: #c9995c;
            color: white;
            opacity: 0.8;
        }

        span {
            height: 12px;
            width: 12px;
            margin-right: 5px;
            border: 1px solid #010101;
            display: inline-block;
            position: relative;
            border-radius: 2px;
        }

        input {
            display: none;
        }
    }

    [type=checkbox]:checked+span:before {
        content: '\e92f';
        font-family: 'Material Icons';
        color: #2a5e03;
        position: absolute;
        top: -10px;
        left: -1px;
        font-size: 18px;
        -webkit-text-stroke: 0.8px;
    }
}

.dropdown-icon {
    font-size: $nav-items-size;
    transition: all .75s;
}