@use 'src/scss/common/media' as *;
@use 'src/scss/common/colors' as *;
@use 'src/scss/common/animations' as *;

$transperent-accent-color: rgba(214, 172, 119, 0.85);

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 80vw;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;

    @include maxWidthMediaQuery(1000px) {
        display: none;
        position: absolute;
        height: 80vh;
        overflow-y: scroll;
        top: 12.8vh;
        width: 100vw;
        background: white;
        right: 0;
        padding: 78px 0;
        background-color: rgba(241, 240, 240, 0.4);
        backdrop-filter: blur(15px);
        @include smoothTransitionAnimation(20%, 700ms);

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    li {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient($dark-orange-accent-color, $transperent-accent-color);
        background-size: 0% 0.1em;
        background-position-y: 75%;
        background-repeat: no-repeat;
        transition: background-size 0.4s ease-out;
        margin-right: 30px;

        &:hover {
            background-size: 100% 0.2em;
        }
    }
}

.dropdown-nav-item {
    padding: 0 10px;
    transition: all .65s;
    background-image: none !important;
    position: relative;

    &:hover {
        background-color: $transperent-accent-color;

        @include maxWidthMediaQuery(1000px) {
            background-color: rgba(214, 172, 119, 0.95);
        }

        a {
            color: black;
        }

        .dropdown-icon {
            transform: rotate(180deg);
        }

        .dropdown-menu {
            visibility: visible;
            opacity: 1;
        }
    }

    .dropdown-icon {
        font-size: 1.15rem;
        margin-left: 7px;
        transition: all .75s;
    }
}

.item {
    font-weight: 800;
    text-decoration: none;
    color: darkslategray;
    font-size: 1.15rem;
    transition: all .5s;

    &:hover {
        color: $dark-orange-accent-color;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 13vw;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: $transperent-accent-color;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: visibility .01s, opacity 1s linear;

    @include maxWidthMediaQuery(1150px) {
        width: 16vw;
    }

    @include maxWidthMediaQuery(1000px) {
        width: 100%;
        background: rgba(214, 172, 119, 0.95);
    }

    label {
        position: relative;
        padding: 3px;

        &:hover {
            background-color: #c9995c;
            color: white;
            opacity: 0.8;
        }

        span {
            height: 12px;
            width: 12px;
            margin-right: 5px;
            border: 1px solid #010101;
            display: inline-block;
            position: relative;
            border-radius: 2px;
        }

        input {
            display: none;
        }
    }

    [type=checkbox]:checked+span:before {
        content: '\e92f';
        font-family: 'Material Icons';
        color: #2a5e03;
        position: absolute;
        top: -10px;
        left: -1px;
        font-size: 18px;
        -webkit-text-stroke: 0.8px;
    }
}

@include maxWidthMediaQuery(1000px) {
    .nav-logo {
        display: flex;
        width: 60px;
        position: absolute;
        top: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}